[project]
name = "hyperion-client"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "aiohttp>=3.13.2",
    "pyartnet>=2.0",
    "websockets>=15.0.1",
]
